{% extends "base.html" %}

{% block conteudo %}

<h2>Cadastrar Imóvel</h2>

<form action="/salvar" method="post">

<div class="mb-3">
<label>Endereço</label>
<input type="text" name="endereco" class="form-control">
</div>

<div class="mb-3">
<label>Cidade</label>
<input type="text" name="cidade" class="form-control">
</div>

<div class="mb-3">
<label>Valor</label>
<input type="number" name="valor" class="form-control">
</div>

<div class="mb-3">
<label>Quartos</label>
<input type="number" name="quartos" class="form-control">
</div>

<div class="mb-3">
<label>Banheiros</label>
<input type="number" name="banheiros" class="form-control">
</div>

<button class="btn btn-primary">
Salvar
</button>

</form>

{% endblock %}