{% extends 'base.html' %}

{% block conteudo %}

<h2 class="mb-5 text-center">
Sistema de Gestão Imobiliária
</h2>

<div class="row g-4">

    <!-- CADASTRAR IMÓVEL -->
    <div class="col-md-3">

        <a href="/cadastrar"
           class="btn btn-primary w-100 p-4 shadow">

            🏠<br><br>
            Cadastrar Imóvel

        </a>

    </div>

    <!-- LISTAR IMÓVEIS -->
    <div class="col-md-3">

        <a href="/imoveis"
           class="btn btn-success w-100 p-4 shadow">

            📋<br><br>
            Visualizar Imóveis

        </a>

    </div>

    <!-- PESSOAS -->
    <div class="col-md-3">

        <a href="/pessoas"
           class="btn btn-warning w-100 p-4 shadow">

            👥<br><br>
            Visualizar Pessoas

        </a>

    </div>

    <!-- PAGAMENTOS -->
    <div class="col-md-3">

        <a href="/pagamentos"
           class="btn btn-danger w-100 p-4 shadow">

            💰<br><br>
            Controle de Pagamentos

        </a>

    </div>

</div>

{% endblock %}