{% extends "base.html" %}

{% block conteudo %}

<h2 class="mb-3">Imóveis Cadastrados</h2>

<table class="table table-striped table-bordered">

<thead class="table-dark">

<tr>
<th>ID</th>
<th>Endereço</th>
<th>Cidade</th>
<th>Valor</th>
<th>Quartos</th>
<th>Banheiros</th>
<th>Ações</th>
</tr>

</thead>

<tbody>

{% for imovel in imoveis %}

<tr>

<td>{{ imovel[0] }}</td>
<td>{{ imovel[1] }}</td>
<td>{{ imovel[2] }}</td>
<td>{{ imovel[3] }}</td>
<td>{{ imovel[4] }}</td>
<td>{{ imovel[5] }}</td>

<td>

<a href="/editar/{{ imovel[0] }}" class="btn btn-warning btn-sm">
Editar
</a>

<a href="/deletar/{{ imovel[0] }}" class="btn btn-danger btn-sm">
Excluir
</a>

</td>

</tr>

{% endfor %}

</tbody>

</table>

{% endblock %}